body {
    margin: 0px;
    margin-right: 30px;
    margin-left: 30px;
    font-family: system-ui;
  }
  
  .topnav {
    border-radius: 10px;
    overflow: hidden;
    background-color: rgb(117, 117, 117);
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 22px;
    text-decoration: none;
    font-size: 22px;
  }
  
  .topnav a:hover {
    border-radius: 8px;
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    border-radius: 8px;
    background-color: #83684a;
    color: white;
   
    
  }